# This notebook is for the IBM Data Science Capstone Course. This is week 1

In [4]:
import pandas as pd
import numpy as np

In [5]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# This notebook is for the IBM Data Science Capstone Course: This is Week 3

## Question 1:

In [27]:
import pandas as pd
!pip install wikipedia
import wikipedia as wp
import requests

Requirement already satisfied: wikipedia in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikipedia) (4.7.1)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikipedia) (2.21.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.7.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)

In [28]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wiki)

df_raw = pd.read_html(wikipedia_page.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']

df_new.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [62]:
df_toronto = df_new.groupby(['Postal code','Borough'])['Neighborhood'].apply (lambda x: ','.join(x))

In [67]:
df_toronto.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_toronto = df_toronto.reset_index()

In [68]:
df_toronto.head()

   index PostalCode      Borough                              Neighborhood
0      0        M1B  Scarborough                           Malvern / Rouge
1      1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2      2        M1E  Scarborough       Guildwood / Morningside / West Hill
3      3        M1G  Scarborough                                    Woburn
4      4        M1H  Scarborough                                 Cedarbrae

In [69]:
df_toronto.shape

(103, 4)

## Question 2:

In [70]:
geospatial_url = "https://cocl.us/Geospatial_data"
geospatial_data = pd.read_csv(geospatial_url)

In [71]:
geospatial_data.columns = ['PostalCode', 'Latitude', 'Longitude']

In [72]:
geospatial_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [78]:
df_merge = pd.merge (df_toronto, geospatial_data, on= "PostalCode")

In [79]:
df_merge.head()

,index,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

## Question 3:

In [81]:
df_merge['Coordinates'] = list(zip(df_merge['Latitude'], df_merge['Longitude']))

In [82]:
df_merge.head()

,index,PostalCode,Borough,Neighborhood,Latitude,Longitude,Coordinates
0,0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353,"(43.806686299999996, -79.19435340000001)"
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497,"(43.7845351, -79.16049709999999)"
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711,"(43.7635726, -79.1887115)"
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917,"(43.7709921, -79.21691740000001)"
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,"(43.773136, -79.23947609999999)"

In [91]:
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [92]:
# set up map
cities = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))
ax = cities[cities.name == "Toronto"].plot(
    color='green', edgecolor='black')
# plot and show
gdf.plot(ax=ax, color='red')

plt.show()

NameError: name 'gpd' is not defined

### (ps: I am aware that I did not find a way to solve the last question perfectly...)